vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|04 Feb 2023 15:04:25 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|index.html
vti_author:SR|SLENDYHUB\\slend
vti_modifiedby:SR|SLENDYHUB\\slend
vti_timecreated:TR|13 Feb 2023 16:51:53 -0000
vti_cacheddtm:TX|13 Feb 2023 16:51:53 -0000
vti_filesize:IR|4659
vti_cachedlinkinfo:VX|Q|https://fonts.googleapis.com/css2 S|/images/themes/galaxy.png S|../images/wordMark.png S|../images/wordMarkHover.png S|../images/go.png S|../images/go_hover.png S|../images/specials/helloworld.png S|/images/options.png S|/images/optionsHover.png
vti_cachedsvcrellinks:VX|NQSS|https://fonts.googleapis.com/css2 NSUS|/images/themes/galaxy.png FSUS|images/wordMark.png FSUS|images/wordMarkHover.png FSUS|images/go.png FSUS|images/go_hover.png FSUS|images/specials/helloworld.png NSUS|/images/options.png NSUS|/images/optionsHover.png
