vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Mar 2023 13:32:39 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|SLENDYHUB\\slend
vti_modifiedby:SR|SLENDYHUB\\slend
vti_timecreated:TR|08 Feb 2023 01:17:48 -0000
vti_backlinkinfo:VX|m/results.html
vti_nexttolasttimemodified:TW|08 Feb 2023 01:17:48 -0000
vti_cacheddtm:TX|08 Feb 2023 01:17:48 -0000
vti_filesize:IR|10673
vti_cachedlinkinfo:VX|Q|https://fonts.googleapis.com/css2 S|/m/images/themedHeaderbars/purple.png S|/images/wordMarksmall.png S|/images/wordMarksmallHover.png S|/m/images/right.png S|/m/images/right.png S|/images/options.png S|/images/optionsHover.png S|/m/images/close.png
vti_cachedsvcrellinks:VX|NQSS|https://fonts.googleapis.com/css2 NSUS|/m/images/themedHeaderbars/purple.png NSUS|/images/wordMarksmall.png NSUS|/images/wordMarksmallHover.png NSUS|/m/images/right.png NSUS|/m/images/right.png NSUS|/images/options.png NSUS|/images/optionsHover.png NSUS|/m/images/close.png
