vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|13 Feb 2023 16:49:54 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|SLENDYHUB\\slend
vti_modifiedby:SR|SLENDYHUB\\slend
vti_timecreated:TR|13 Feb 2023 16:49:54 -0000
vti_cacheddtm:TX|13 Feb 2023 16:49:54 -0000
vti_filesize:IR|12183
vti_cachedlinkinfo:VX|Q|https://fonts.googleapis.com/css2 S|/m/images/themedHeaderbars/purple.png S|/images/wordMarksmall.png S|/images/wordMarksmallHover.png S|/m/images/right.png S|/m/images/right.png S|/images/options.png S|/images/optionsHover.png S|/m/images/close.png
vti_cachedsvcrellinks:VX|NQSS|https://fonts.googleapis.com/css2 NSUS|/m/images/themedHeaderbars/purple.png NSUS|/images/wordMarksmall.png NSUS|/images/wordMarksmallHover.png NSUS|/m/images/right.png NSUS|/m/images/right.png NSUS|/images/options.png NSUS|/images/optionsHover.png NSUS|/m/images/close.png
vti_backlinkinfo:VX|m/results.html
