@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

div#headerbar {
    background-image: url("../images/themes/galaxy.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100.5vw;
    height: 63px;
    float: left;
    box-shadow:0 4px 10px rgba(0, 0, 0, 0.8);
    z-index: 1;
    position: sticky;
}

img#goHome {
    padding-top: 11px;
    padding-left: 11px;
}

img#goHome:active {
    padding-top: 11px;
    padding-left: 11px;
}

iframe#bodyIframe {
    z-index: 0;
    border: none !important;
    width: 100vw;
    height: calc(100vh - 90px);
}
div#navBar {
    background-image: url("../images/bottomBar.png");
    background-position-x: center;
    background-position-y: top;
    background-size: 100%;
    width: 100vw;
    height: 80px;
    position: fixed;
    bottom: -1.5px;
    z-index: 2;
}

div#customize {
    background-image: url("../images/customize.png");
    background-position-x: center;
    background-position-y: center;
    height: 91.22px;
    width: 109.02px;
    position: relative;
    bottom: 10px;
    display: inline-block;
    margin-left: 6px;
    transition: 0.3s;
    transition-timing-function: ease-out;
}

div#search {
    background-image: url("../images/search.png");
    background-position-x: center;
    background-position-y: center;
    height: 91.22px;
    width: 109.02px;
    position: relative;
    bottom: 10px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.3s;
    transition-timing-function: ease-out;
}

div#about {
    background-image: url("../images/about.png");
    background-position-x: center;
    background-position-y: center;
    height: 91.22px;
    width: 109.02px;
    position: relative;
    bottom: 10px;
    display: inline-block;
    margin-right: 6px;
    transition: 0.3s;
    transition-timing-function: ease-out;
}

div#mOverlay {
    background-color: rgba(0, 0, 0, 0.7);
    height: 101vh;
    padding: 75px 10px 10px 10px;
}

div#graphiclarge {
    background-repeat:no-repeat;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    transition: 0.3s;
    top:0;
}

img#logolarge {
    position:relative;
    right:3px;
}

html {
    overflow-x: hidden !important;
    font-family: 'Fira Sans', sans-serif !important;
    background-color: gainsboro;
    height: 100vh;
    width: 100vw;
}

input#searchbar {
    height: 20px;
    width: 250px;
    appearance: none;
    border-radius: 0 30px 30px 0;
    padding: 10px;
    outline: none;
    font-family: 'Fira Sans', sans-serif;
    font-weight:400;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0);
    position:relative;
    bottom: 12.5px;
    left:42px;
    display:inline-block;
    z-index:2;
    border: none;
}

input#searchbar::placeholder {
	color:darkgrey;
    font-style: italic;
}

input#searchbar:focus::placeholder {
    color: transparent;
}

input#submitquery {
    border: none !important;
    background-color: transparent;
    background-image: url('/m/images/right.png');
    background-repeat: no-repeat;
    height:40px;
    width:40px;
    background-size:100%;
    position:relative;
    border-radius: 0 30px 30px 0;
    transition: 0.3s;
    display:inline-block;
    bottom: 54.5px;
    left:319px;
    z-index:1;
}

input#submitquery:hover {
    border: none !important;
    background-color: transparent;
    background-image: url('/m/images/right.png');
    background-repeat: no-repeat;
    height:40px;
    width:40px;
    background-size:100%;
    cursor:pointer;
}

 img#homer {
    position: relative;
    right: 2.5px;
    bottom: 101.5px;
}

.centered {
    display: flex;
    justify-content: center;
    width: 100vw;
}

img#placeholdericon {
    position:relative;
    top: 2.5px;
    right: 275px;
    z-index: 5;
}

div#formcontents {
    position: relative;
    width: 360px;
    height: 50px;
}

div#excepthomer {
    position: relative;
    display: inline-block;
    height:50px;
}

#sslogo {
    position:relative;
    height: 45px;
    width: auto;
    top: 8px;
    left: 30px;
}

form#searchform {
    position:relative;
    bottom: 10px;
}

div#searchformwrapper {
    background:  rgba(0,0,0,0.6);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RjZGNkYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkY2RjZGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='transparent',GradientType=0 );
}

.label {
    display:inline-block;
    color:white !important;
    font-weight:400;
    text-decoration:none !important;
}

.label:hover {
    display:block;
    color:white !important;
    font-weight:400;
    text-decoration:underline !important;
    text-decoration-color:white;
}

.labelwolink {
    display:inline-block;
    color:white !important;
    font-weight:400;
    text-decoration:none !important;
    margin-block-end: 0 !important;
}

.labelwolinkB {
    display:inline-block;
    color:black !important;
    font-weight:400;
    text-decoration:none !important;
    margin-block-end: 0 !important;
}

.labelwolinkG {
    display:inline-block;
    color:darkgray !important;
    font-weight:400;
    text-decoration:none !important;
    margin-block-end: 0 !important;
}

.labelwolink2 {
    display:block;
    color:white;
    font-weight:300;
    text-decoration:none !important;
    padding:5px;
    bottom:10px;
    margin-block-start:0 !important;
    margin-block-end:0 !important;
}

div#desktoppromocontents {
    width:388.300px;
}

img#github {
    height:35px;
    width:auto;
    position:relative;
    top:12px;
    padding:5px 0 0 5px;
}

img#social {
    height:35px;
    width:auto;
    padding:5px 0 0 5px;
    position:relative;
    top:10px;
}

img#thanks {
    height:35px;
    width:auto;
    padding:5px 0 0 5px;
    position:relative;
    bottom:18px;
}

.divdark {
    position: relative;
    width: 90vw;
    height: 0;
    border: 1px solid #323232;
    box-shadow: 0 2px 0 #6B6B6B;
    top:10px;
    left:8px;
}

#sourceCodeWrapper {
    outline: 2px solid #323232;
    border: 2px solid #6B6B6B !important;
    border-radius: 2px;
    margin: 10px;
}

#socialsWrapper {
    outline: 2px solid #323232;
    border: 2px solid #6B6B6B !important;
    border-radius: 2px;
    margin: 10px;
}

#socialsTxt {
    position:relative;
    bottom: 8px;
}

#sourceCodeTxt {
    position: relative;
    bottom: 7px;
}

img#headerBarLogo {
    margin: 7px 7px 7px 7px;
}

iframe#specialIframe {
    width: 300px;
    height: 300px;
    border: none;
    position: fixed;
    bottom: 0;
    right: 0;
}

img#explore {
    margin: 8px 8px 8px 8px;
}

div#exploreHeader {
    background-image: url("../m/pages/images/themes/explore.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100.5vw;
    height: 63px;
    float: left;
    box-shadow:0 4px 10px rgba(0, 0, 0, 0.8);
    z-index: 1;
    position: sticky;
    display: none;
}
